@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    @include flexDisplay();
    width: 100vw;
    min-height: 100vh;
    background: $main-mint;
    color: $accent-blue;
    header {
        @include flexDisplay();
        justify-content: space-evenly;
        width: 75vw;
        min-height: 20vh;
        margin: 3.5vh;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        h1 {
            font-size: 2.5em;
            font-weight: normal;
            font-weight: 600;
            @media (max-width: 400px) {
                font-size: 2em;
            }
        }
        span {
            font-size: 1.5em;
            @media (max-width: 400px) {
                font-size: 1.1em;
            }
        }
    }
    .text {
        @include flexDisplay();
        width: 75vw;
        height: 50vh;
        justify-content: space-evenly;
        input {
            width: 50vw;
            height: 5vh;
            font-size: 1.5em;
            @media (max-width: 400px) {
                font-size: 1em;
            }
        }
        .output {
            text-align: center;
            width: 75vw;
            min-height: 10vh;
            max-height: 35vh;
            font-size: 3.25em;
            word-break: break-word;
            overflow: scroll;
            @media (max-width: 400px) {
                font-size: 2.5em;
            }
        }
    }
    .buttons {
        width: 75vw;
        max-height: 50vh;
        @include flexDisplay();
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3.5vh auto;
        button {
            color: $main-mint;
            background: $accent-blue;
            width: 100px;
            height: 35px;
            border-radius: 15px;
            font-family: monospace;
            outline: none;
            margin: 10px;
            &:hover {
                transform: scale(1.05);
                font-weight: bold;
                color: $accent-blue;
                background: $main-mint;
                border: 2px solid $accent-blue;
            }
        }
    }
}